In [1]:
import pandas
import numpy

In [13]:
data = pandas.read_csv('Data/Clean_Dataset.csv')
print(data.head())

   Unnamed: 0   airline   flight source_city departure_time stops  \
0           0  SpiceJet  SG-8709       Delhi        Evening  zero
1           1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2           2   AirAsia   I5-764       Delhi  Early_Morning  zero
3           3   Vistara   UK-995       Delhi        Morning  zero
4           4   Vistara   UK-963       Delhi        Morning  zero

    arrival_time destination_city    class  duration  days_left  price
0          Night           Mumbai  Economy      2.17          1   5953
1        Morning           Mumbai  Economy      2.33          1   5953
2  Early_Morning           Mumbai  Economy      2.17          1   5956
3      Afternoon           Mumbai  Economy      2.25          1   5955
4        Morning           Mumbai  Economy      2.33          1   5955

        Unnamed: 0   airline   flight source_city departure_time stops  \
0                0  SpiceJet  SG-8709       Delhi        Evening  zero
1                1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2                2   AirAsia   I5-764       Delhi  Early_Morning  zero
3                3   Vistara   UK-995       Delhi        Morning  zero
4                4   Vistara   UK-963       Delhi        Morning  zero
...            ...       ...      ...         ...            ...   ...
300148      300148   Vistara   UK-822     Chennai        Morning   one
300149      300149   Vistara   UK-826     Chennai      Afternoon   one
300150      300150   Vistara   UK-832     Chennai  Early_Morning   one
300151      300151   Vistara   UK-828     Chennai  Early_Morning   one
300152      300152   Vistara   UK-822     Chennai        Morning   one

         arrival_time destination_city     class  duration  days_left  price
0               Night           Mumbai   Economy      2.17          1   5953
1             Morning           Mumbai   Economy      2.33          1   5953
2       Early_Morning           Mumbai   Economy      2.17          1   5956
3           Afternoon           Mumbai   Economy      2.25          1   5955
4             Morning           Mumbai   Economy      2.33          1   5955
...               ...              ...       ...       ...        ...    ...
300148        Evening        Hyderabad  Business     10.08         49  69265
300149          Night        Hyderabad  Business     10.42         49  77105
300150          Night        Hyderabad  Business     13.83         49  79099
300151        Evening        Hyderabad  Business     10.00         49  81585
300152        Evening        Hyderabad  Business     10.08         49  81585

[300153 rows x 12 columns]